.newPassword-heading{
    position: absolute;
    top: 8rem;
    left: 2rem;
    font-family: cursive;

}

/* button css */
.newPassword-btn{
    top:23rem;
    left:15rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }

  .newPassword-btn{
    margin-bottom: 100px;
    position: absolute;
    height: 50px;
    width: 145px;
    margin: 0 35px;
    border-radius: 30px;
    border:none;
    outline: none;
    background: #1e171b;
    color: rgb(243, 243, 243);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
 
  /* textbox */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'poppins'sans-serif;
  
  } 

  /* parent div*/
  .newPassword-Container{
    display: flex; 
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    flex-direction: column;
    gap:30px;
    background:rgb(255, 255, 255);
  }

  .newPassword-txtbox1{
    position: relative;
    width: 250px;
    height: 4rem;
  }
  
  /* inputbox postion,color,width*/
   .newPassword-txtbox1 input{
     width: 100%; 
     padding: 10px;
     top:174px;
     left: 60px;
     border:2px solid rgb(0, 0, 0) ;
     border-radius: 10px; 
     outline: none;
     color: #0d0c0c;
     position: relative;
     font-size: 0.5em;
     transition: 0.5s; 
  } 
  
  /* textbox lable position and style (inside the textbox span is placed)*/
  .newPassword-txtbox1 span
  {
    position: relative;
    top:145px;
    left: 70px;
    padding: 18px;
    pointer-events: none; 
    font-size:1em ;
    color: rgba(255,255,255,0,25);
    text-transform: uppercase;
    transition: 0.5s;
   
  }
  
  
  /* span style for border left,right,radius,color */
  .newPassword-txtbox1 input:valid~span,
  .newPassword-txtbox1 input:focus~span{
   color: #000000;
   top:120px;       
   border-radius: 10px; 
   transform: translateX(10px)translateY(-7px); 
   font-size: 0.65em;
   padding: 0 10px;
   background: #ffffff;
   border-left:2px solid #000000; 
   border-right:2px solid  #000000;   
   letter-spacing: 0.2em;
  } 

  /* shadeing the lable to top of textbox */
  .newPassword-txtbox1:nth-child(2) input:valid~span,
  .newPassword-txtbox1:nth-child(2) input:focus~span
  {
  background: rgb(251, 249, 248);
  color: rgb(0, 0, 0);
  border-radius: 3px;
  }  
  
  /* if textbox is clicked then the border color change  */
  .newPassword-txtbox1 input:valid,
  .newPassword-txtbox1 input:focus
  {
    border: 3px solid #000000;
  }   
  
  
.newpass-resetimage{
    position: absolute;
    margin-left: 900px;
    top: 5.5rem;
    width: 30rem;
    height: 30rem;
    right: 10rem;
}

.eye-ico{
  position: absolute;
  height: 3rem;
  width: 3rem;
}