
.Marriage_Container{
    position: absolute;
   
    /* background-color: rgba(45, 67, 107, 0.99); */
    /* width: 213.8vh; */
    /* height: 150%; */
}
/* .Bridegroom_head{
    position: absolute;
    top:0rem;
    left: 1rem;
    color: #faa047;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px; 
} */
.Marriage_heading{
    position: absolute;
    top:2rem;
    left: 24rem;
    width: 40rem;
    /* color: #efffbed9; */

    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
}
.marriage_formfill{
    
    position: relative;
    top:0rem;
    /* width: 100vh; */

    height: 4.5rem;
    
    border-radius: 4px;
    left: -1rem;
    /* background-color: rgba(36, 54, 84, 0.99); */
}
.marraige_heading{
    position: relative;
    top:1rem;
    left: 1rem;
    /* color: #f496c5; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; 
}
.marriage_bride_heading{

    position: relative;
    top:1rem;
    left: 1rem;
    /* color: #f496c5; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; 
}


.marriage_add{
    position: absolute;
    top:62rem;
    left:49rem;
    width: 15rem;
    height: 3rem;
    cursor: pointer;
    text-transform: uppercase;
   font-size: 22px;
    border-radius: 6rem;
  
   
}
.marriage_add:hover {
    background-color: #a2b6f1;
  }

.marriage_fill_entry{
    position: relative;

    top:0rem;
    left:16rem;
    width: 20rem;
    height: 1.5rem;
    border-radius: 4px;
   cursor: pointer;
   padding-left: 6px;
 border:solid  rgb(237, 198, 198);
   /* background-color: rgb(145, 161, 167); */
    
}
.marriage_entery{
    display:block;
    position: relative;
    top:2rem;
    /* color: rgb(246, 235, 252); */
    left:3rem;
    width: 20rem;
    height: 2rem;
    font-family: cursive;
    font-size: 20px;

}
.Marry_bridegroom{
    position: absolute;
   top:11rem;

   left: 3rem;
   /* background-color: rgba(76, 110, 111, 0.99); */
}

.Marriage_bride{
    position: absolute;
   
  
    top:11rem;
    left: 40rem;
    /* background-color: #5d688c;  */
}
._Marriage_bride_entery{
    position: relative;
    display:block;
    top:2rem;
    
    /* color: rgb(235, 242, 232); */
    left:5rem;
    width: 20rem;
    height: 2rem;
    font-family: cursive;
    font-size: 20px;
}
.marriage_bride_fill_entry{
    position: relative;

    top:0rem;
    left:17rem;
    width: 20rem;
    height: 1.5rem;
    border-radius: 4px;
   cursor: pointer;
   padding-left: 6px;
   border:solid  rgb(237, 198, 198);
   /* background-color: rgb(145, 161, 167); */
}
/* .Bride_head{
    position: relative;
    top:1rem;
    left: 1rem;
    color: #e2c058;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px; 
} */
.Marriage_bride_formfill{
    position: relative;
    top:0rem;
    /* width: 98vh; */
   height: 4.5rem;
border-radius: 4px;
    left: 0rem;
    /* background-color: rgba(36, 54, 84, 0.99); */
}
.Marriage_other_details{
    position: absolute;
   top:43rem;
    left: 0rem;
}
.Marriage_other_formfill{
    position: relative;
    top:2rem;
    width: 65rem;
   height: 3.5rem;
border-radius: 4px;
    left: 3rem;
    /* background-color: rgba(36, 54, 84, 0.99); */
}
.marriage_other_entery{
    position: relative;
    display:block;
    top:2rem;
    /* color: rgb(247, 252, 245); */
    left:3rem;
    width: 20rem;
    height: 1rem;
   
    font-family: cursive;
    font-size: 20px;
}
.marriage_other_fill_entry{
    position: relative;

    top:1.7rem;
    left:15rem;
    width: 20rem;
    height:1.5rem;
    border-radius: 4px;
   cursor: pointer;
   padding-left: 6px;
   border:solid  rgb(237, 198, 198);
   /* background-color: rgb(145, 161, 167); */
}
.Marriage_other_heading{
    position: relative;
    top:1rem;
    left: 1rem;
    /* color: #f496c5; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
}
