.admin-about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.image-input {
  margin-bottom: 10px;
}

.chosen-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.info-container {
  flex-grow: 1;
}

.info-textarea {
  width: 400px;
  height: 200px;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-button,
.save-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.add-button:hover,
.save-button:hover {
  background-color: #45a049;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
